<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>

    <ul>
      <% messages.forEach(function(message){ %>
        <% let dateString=message.added.toString() %>
        <div>
          <li>
            Message: <%= message.text %>
          </li>

          <li>By: <%= message.user %>
          </li>

          <small>
            <%= dateString.substring(0, 15) %>
          </small>
        </div>
          <% }); %>
    </ul>


    <button>
      <a href="/new"> new message</a>
    </button>
</body>

</html>